// 项目提供的scss全局变量

// logo相关
$logo-height: 80px;
$logo-padding-left: 20px;

// menu相关
$menu-background-color: #001529;
$menu-text-color: #fff;

// header相关
$header-background-color: white;


// main相关
$main-background-color: gray;


