<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>vue中表单数据的收集</title>
    <script src="../js/vue.js"></script>
  </head>
  <body>
    <div id="root">
      <form @submit.prevent="demo">
        <!-- 输入框: 收集到的是输入框中的文本 -->
        <label for="demo">账号:</label>
        账号: <input type="text" id="demo" v-model.trim="userInfo.account" />
        密码: <input type="password" v-model="userInfo.password" />


        <!-- 单选框: 收集到的是被选中的单选框的value属性值 -->
        性别:
        男:<input type="radio" v-model="userInfo.sex" name="sex" value="male" />
        女:<input type="radio" v-model="userInfo.sex" name="sex" value="female" />


        <!-- 多选框: 收集到的是被勾选的的多选框的value值的数组 -->
        爱好:
        学习<input v-model="userInfo.hobby" type="checkbox" value="study" />
        打游戏<input v-model="userInfo.hobby" type="checkbox" value="game" />
        吃饭<input v-model="userInfo.hobby" type="checkbox" value="eat" />
        <br />

        <!-- 下拉框: 收集到的是value属性值 -->
        所属校区
        <select v-model="userInfo.city">
          <option value="">请选择校区</option>
          <option value="Beijing">北京</option>
          <option value="Shanghai">上海</option>
          <option value="Shenzhen">深圳</option>
          <option value="Wuhan">武汉</option>
        </select>
        <br />

        <!-- 勾选框: 搜集到的是 true / false -->
        <input type="checkbox" v-model="userInfo.ifAgree" />阅读并接受
          <a href="https://www.google.com.tw">《用户协议》</a>
        <button>提交数据</button>

        其他信息<textarea v-model.lazy="userInfo.other"></textarea>
        <br />
        <!-- 因为年龄是数字, 所以type=number, 同时使用number修饰符, 将收集到的数据转换为有效的数字 -->
        年龄: <input type="number" v-model.number="userInfo.age" />
      </form>
    </div>
    <script type="text/javascript">
      Vue.config.productionTip = false;
      const vm = new Vue({
        el: "#root",
        data: {
          userInfo: {
            account: "",
            password: "",
            sex: "male",
            age: "",
            hobby: [], // 因为是多选，所以要用数组
            city: "",
            other: "",
            ifAgree: false, // 因为是勾选框，所以要用布尔值
          },
        },
        methods: {
          demo() {
            //json转换为string
            console.log(JSON.stringify(this.userInfo));
          },
        },
      });
    </script>
  </body>
</html>
